*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
    font-family: 'DM Sans', sans-serif;
}

/* Utilities */

.white-bg{
    background-color: white;
}

/* Other */

header{
    width: 100%;
}

main{
    padding: 20px;
    height: 500px;
    margin: 20px 15%;
    border-radius: 30px;
}

#logo{
    vertical-align: middle;
    margin-left: 10px;
}

#header-title{
    display: inline;
    vertical-align: middle;
    font-size: 40px;
    background-color: white;
}

button{
    padding: 5px 10px;
    border-radius: 7%;
    text-decoration: none;
}

#add-task{
    color: white;
    background-color: turquoise;
    border: 1px solid turquoise;
}

#add-section{   
    color: grey;
    background-color: white;
    border: 1px solid grey;
}

